<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head th:replace="__${theme}__/components::head(~{::title},~{::link},~{})">
    <title th:text="${siteName + '-' + title}"></title>
    <link rel="stylesheet" th:href="${#helpers.retouch('/theme/' + theme + '/user.css')}">
</head>
<body>
<div th:replace="__${theme}__/components::header"></div>
<div class="container">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">首页</a></li>
                <li class="breadcrumb-item"><a href="/user/central">用户中心</a></li>
                <li class="breadcrumb-item active" aria-current="page" th:text="${title}"></li>
            </ol>
        </nav>
    </div>
    <div th:replace="__${theme}__/user/components::menu"></div>

    <div class="col-10">
        <table th:each="order,iter : ${pagination.rows}">
            <tr>
                <th th:text="${#dates.format(order.createTime, 'yyyy-MM-dd HH:mm:ss')}"></th>
                <th th:text="${'订单号:' + order.no}"></th>
                <th colspan="9"></th>
            </tr>
            <tr th:each="goods : ${order.goodsList}">
                <td><a th:href="@{/goods/{id}.html(id=${goods.goodsId})}">
                    <img th:src="${#helpers.imgZoom(goods.img, 80, 80)}"></a></td>
                <td><a th:href="@{/goods/{id}.html(id=${goods.goodsId})}" th:text="${goods.goodsName}"></a></td>
                <td class="price" th:text="${#helpers.priceFormat(goods.price)}"></td>
                <td th:text="${goods.num}"></td>
            </tr>
        </table>


        <nav th:utext="${pagination.generateWebPagination()}"></nav>
    </div>
</div>

<footer th:replace="__${theme}__/components::footer"/>
</body>
</html>